<!DOCTYPE html>
<html ng-app="nhlApp">
  <head>
    <title>NHL Teams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body ng-controller="nhlController">
    <div class="container">
      <form role="form" ng-submit="getTeams()">
        <div class="form-group">
          <input type="checkbox" name="show_teams" class="form-control" id="url-box" placeholder="Enter URL...">
        </div>
      </form>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
    <div class="col-sm-5 col-sm-offset-1">
          {% if results %}
            <h2>Teams</h2>
            <br>
            <div id="results">
              <table class="table table-striped" style="max-width: 300px;">
                <thead>
                  <tr>
                    <th>Team</th>
                  </tr>
                </thead>
                {% for result in results%}
                  <tr>
                    <td>{{ result }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% endif %}
        </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  </body>
</html>